.navbar {
    font-size: x-large;
}

.navbar-brand {
    font-size: x-large;
    padding: 10px;
    background-color: rgb(250, 197, 63);
}



#landing {
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 100px;
    background-color: rgb(250, 197, 63);
}

#main_figure {
  size: 20px, 30px;
}
#main_summary {
    padding-top: 20px;
    float: right;
}
h1 {
    font: bolder;
}

h2 {
    font-size: x-large;
}
#temp {
    position: relative;
   
    /* height: -80pc; */
}
#humidity {
    position: relative;
    width: 1pc;
    height: -20pc;
}


#temp_body {
    padding: 100px;
    background-color: rgb(250, 197, 63);
}

#single_temp {
    /* margin-top: 200px;
    margin-left: 50px; */
    padding: 10px;
    float: left;
    background-color: rgb(210, 210, 228);
}

#background {
    background-color: gold;
}
#temp_text {
    /* margin-top: 300px; */
    padding: 30px;
    float: right;
    background-color:rgb(210, 210, 228);
}