.navbar {
    font-size: x-large;
}

.navbar-brand {
    padding: 10px;
    font-size: x-large;
    color: royalblue;
    background-color: gold;

}

#main_back {
    background-color: gold;
}

#main_figure {
  size: 20px, 30px;
}
#main_summary {
    padding-top: 20px;
    float: right;
}
h1 {
    font: bolder;
    color: royalblue;
}

h2 {
    font-size: x-large;
    color: royalblue;
    /* position: ; */
}

#temp {
    position: relative;
   
    /* height: -80pc; */
}
#humidity {
    position: relative;
    width: 1pc;
    height: -20pc;
}


.body {
    padding: 100px;
    background-color: gold;

}

.single_image {
    padding: 10px;
    float: left;
    background-color: whitesmoke;
}


.single_text {

    padding: 45px;
    float: right;
    background-color:whitesmoke;
}