<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <title>The Truth Is Out There</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    
    </head>
    
    <body>
        <div class="containter">
            <div class="row">
                <div class="col">
                    <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.posterarthouse.com%2Fmedia%2Fcatalog%2Fproduct%2Fcache%2Fc687aa7517cf01e65c009f6943c2b1e9%2F1%2F6%2F160912.jpg&imgrefurl=https%3A%2F%2Fwww.posterarthouse.com%2Fthe-truth-is-out-there.html&tbnid=WBQ6N7XV4c43OM&vet=12ahUKEwjUjoWQtc7tAhUnHjQIHSiaDIkQMygBegUIARCzAQ..i&docid=Rh2H1t7PPXkjfM&w=700&h=468&q=the%20truth%20is%20out%20there&client=firefox-b-1-d&ved=2ahUKEwjUjoWQtc7tAhUnHjQIHSiaDIkQMygBegUIARCzAQ" class="img-fluid" alt="The Truth Is Out There">
                </div>
            </div>

            <div class="row">
                <table class="table table-dark table-hover">
                    <script src="data.js"></script>   
                </table>
            </div>

        </div>


        




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    </body>



</html>